<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio<h1>

<b>Vidana Gamage Jayawardena Hashinika Sewwandi </b> <br> Software Engineer

<i>I am interested in data science because I am very fascinated by the fact that with the help of data science strategies, computer algorithms which are capable of analyze and learn and self-development can be developed. With the help of the data science knowledge and my programming knowledge one day I like to see myself developing my own artificial intelligence project which will helps the humanity to achieve more goals without expecting a return.</i>

<h3>Multification</h3>

In [17]:
print(4*3)

12

<hr>

<ul>
    <li> Data Scientist </li>
    <li> Project Manager</li>
    <li> Software Engineer </li>
</ul>


<ol> 
    <li> Google </li>
    <li> Face book </li>
    <li> IBM </li>
</ol>


<table style="width=30%">
    <tr> 
        <th>Title</th>
        <th>Country</th>
        <th>Salary(per year) </th>
    </tr>
    <tr>
        <th>Data Scientist </th>
        <th>USA</th>
        <th>200000 </th>
    </tr>
    <tr>
        <th>Project Manager</th>
        <th>Canada </th>
        <th>100000 </th>
    </tr>
    <tr>
        <th>Software Engineer </th>
        <th>UK</th>
        <th>150000 </th>
    </tr>
</table>



<a> href="https://www.google.com" >Link to Google</a>


<img> <src="https://i.imgur.com/WWrydEh.png" width ="500" height=500 >


<code>Python
    str = "Hello World!"
        print(str)
</code>

<code>Python
  print((5*3)+8)
</code>

<blockquote>This is good</blockquote>


<s>This is sample</s>